name: Terraform Apply (master)

concurrency:
  group: project-bedrock-terraform
  cancel-in-progress: true

on:
  push:
    branches: ["master"]

jobs:
  apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    env:
      TF_VAR_student_id: ${{ secrets.TF_VAR_student_id }}

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Check TF_VAR_student_id
        run: |
          if [ -z "$TF_VAR_student_id" ]; then
            echo "TF_VAR_student_id is missing" && exit 1
          fi
          echo "TF_VAR_student_id is set"

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve

