name: Terraform Plan (PR)

concurrency:
  group: project-bedrock-terraform
  cancel-in-progress: true

on:
  pull_request:
    branches: ["master"]
    paths:
      - "terraform/**"
      - ".github/workflows/**"

jobs:
  plan:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    env:
      TF_VAR_student_id: ${{ secrets.TF_VAR_student_id }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init -reconfigure

      - name: Terraform Format Check
        run: terraform fmt -check -recursive

      - name: Terraform Validate
        run: terraform validate

      - name: Build Lambda zip
        run: |
          cd lambda
          zip -r asset-processor.zip handler.py

      - name: Terraform Plan
        run: terraform plan -lock-timeout=5m -no-color | tee plan.txt

      - name: Upload plan artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: terraform/plan.txt

